# Reusable config to read from files.

comms {
    live_feed_pub_port = 5555

    dangerzone_channel = ipc:///tmp/sailbot-obstacle-detection
}

perception {
    boat_detection {
        # List of model paths to be used. The key here doesn't matter
        models {
            boat_detector = resources/models/tanker-sideview.svm
            chase_boat_medium = resources/models/chase-boat-medium.svm
            chase_boat_large = resources/models/chase-boat-large.svm
            sailboat = resources/models/sailboat.svm
        }
    }
}

adavision {
    debug = true

    image_source = file

    # options for reading images from file system (used if image_source == file)
    file_input {
        input_frame_dir = ~/Dropbox/oa/data/04_kits/30103609_hecticTankers/raw
        double_up = true
    }

    imu {
        mode = stub
    }

    current_data {
        mode = stub
    }

    output {
        frame_skip = 1

        data_dir = data
        log_dir = logs
    }

}
