comms {
    camera_server_ip = 10.8.0.4
    camera_server_pub_port = 5553

    live_feed_pub_port = 5555

    dangerzone_channel = ipc:///tmp/sailbot-obstacle-detection

    current_data_channel = ipc:///tmp/sailbot-currentdata-from-pi-controller
}

perception {
    sun_detection {
        sun_pixel_threshold = 10000
    }

    boat_detection {
        models {
            boat_large =resources/models/boat_large.svm
            boat_medium = resources/models/boat_medium.svm
            boat_small = resources/models/boat_small.svm
        }
    }
}

adavision {
    debug = false

    image_source = network

    imu {
        mode = real
    }

    current_data {
        mode = real
    }

    output {
        data_dir = output
        log_dir = logs
        live_feed_port = 5555
        dangerzone_pub_port = 5566

        frame_skip = 30
    }

}

camera_enclosure {
    debug = false

    image_source = lepton

    lepton {
        use_lepton0 = true
        use_lepton1 = true

        status_check_interval_s = 5

        ffc_behavior {
            ffc_auto = true
            ffc_interval_s = 60
        }

        failure_behavior {
            num_primary_attempts = 10
            retry_interval_primary_s = 15
            retry_interval_secondary_s = 150
        }

        sun_behavior {
            sun_duty_cycle_percent = 50
        }
    }
}
