[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:google/googletest.git
  branch = master
[submodule "lib/tclap"]
	path = lib/tclap
	url = git@github.com:eile/tclap.git
	branch = master
[submodule "lib/RTIMULib"]
	path = lib/RTIMULib
	url = git@github.com:richards-tech/RTIMULib.git
	branch= master
[submodule "lib/LeptonModule"]
		path = lib/LeptonModule
		url = git@github.com:groupgets/LeptonModule.git
		branch= master
