[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
  branch = master
[submodule "lib/tclap"]
	path = lib/tclap
	url = https://github.com/eile/tclap.git
	branch = master
[submodule "lib/RTIMULib"]
	path = lib/RTIMULib
	url = https://github.com/RTIMULib/RTIMULib.git
	branch= master
[submodule "lib/LeptonModule"]
	path = lib/LeptonModule
	url = https://github.com/groupgets/LeptonModule.git
	branch= master
[submodule "lib/dlib"]
	path = lib/dlib
	url = https://github.com/davisking/dlib.git
[submodule "lib/cppzmq"]
	path = lib/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "lib/jsoncpp"]
	path = lib/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
